<%- include ('partials/header.ejs') %>

    <body class="home">
        <%- include ('partials/navbar.ejs') %>
            <div id="container">
                <h1>Perguntas e Respostas</h1>
                <p id="desc">Aqui você cria perguntas sobre diversos tópicos, visualiza perguntas de outros usuários
                    e também pode respondê-las!
                </p>
                <a href="/" id="botao">
                    <button type="button" class="btn btn-info btn-lg">Acessar o site</button>
                </a>
                <div id="autor">
                    <p>Site feito com base no Yahoo Respostas</p>
                    <p>Desenvolvido por <a href="https://github.com/joovitor12" class="githubLink">João Vitor Machado</a></p>
                </div>
            </div>
    </body>
    <%- include ('partials/footer.ejs') %>